<div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Dashboard</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item" role="presentation"><a class="nav-link" href="../home">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="profile">Profile</a></li>
                         <li class="nav-item" role="presentation"><a class="nav-link" href="profileupdate">Update Profile</a></li>
                         <li class="nav-item" role="presentation"><a class="nav-link" href="job">Applied Jobs</a></li>


                        
                        <li class="nav-item" role="presentation"><a class="nav-link" href="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  </div>
