{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Job Category</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='assets1/images/logo/favicon.png') }}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets1/css/animate-3.7.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets1/css/font-awesome-4.7.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets1/fonts/flat-icon/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets1/css/bootstrap-4.1.3.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets1/css/owl-carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets1/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets1/css/style.css') }}">
</head>
<body>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area single-page">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo-area">
                            <a href="home.html"><img src="{{ url_for('static',filename='assets1/images/logo.png') }}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="custom-navbar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>  
                        <div class="main-menu main-menu-light">
                            <ul>
                                  <li class="active"><a href="../home">home</a></li>
                                <li><a href="../about">about us</a></li>
                                 <li><a href="../recommendation">recommender</a></li>
                                
                                <li><a href="../contact">contact</a></li>
                          {% block navbar %}
                        {% if login %}
                         <li class="menu-btn">
                            <a class="login" href="../dashboard">Dashboard</a>
                         <a class="template-btn" href="dashboard/logout">Logout</a>
                     </li>
                        {% else %}
                          <li class="menu-btn">
                                <a href="../auth" class="login">log in</a>
                                <a href="../register" class="template-btn">sign up</a>
                            </li>
                        {% endif %}
                        {% endblock navbar %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <!-- Header Area End -->
 <br>
    <br>
    <br>
    <br>
    

    <!-- Job Single Content Starts -->
   <div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
             <center><div class="msg">{{ msg }}</div></center>
            <h2 class="text-center login-title">Login</h2><br />
            <div class="account-wall text-center">
                <center><img class="profile-img text-center" src="{{ url_for('static',filename='assets/icons/profile.png') }}" /></center><br />
                <center>
                    <p class="form-signin">
                        <form method="post">
                            <input type="text" required="" name="txtEmail" id="txtEmail" class="form-control" placeholder="Email" />
                            <br >
                            <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
                            <br >
                            <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
                            <br>
                            <a href="forgotpassword">Forgot Password ?</a>
                            <br>
                            <br>
                            <a href="register">Don't have an account ?</a>
                            <br>
                            <br>
                             <a href="http://localhost/dash/home.php">Login as Admin </a>
                        </form>
                    </p>
                </center>
            </div>
        </div>
    </div>
</div>
    <!-- Newsletter Area End -->

 <br>
    <br>
    <br>
   <!-- Footer Area Starts -->
    <footer style="
    padding-bottom: 51px;
    padding-top: 2px;
" class="footer-area section-padding">
           
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
   <script src="{{ url_for('static', filename='assets1/js/vendor/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets1/js/vendor/bootstrap-4.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets1/js/vendor/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets1/js/vendor/owl-carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets1/js/vendor/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets1/js/vendor/ion.rangeSlider.js') }}"></script>
    <script src="{{ url_for('static', filename='assets1/js/main.js') }}"></script>
</body>
</html>
{% endblock %}